@font-face {
    font-family: 'Norse-Bold';
    src: 
        url('Norse/norse-bold-webfont.woff') format('woff'),
        url('Norse/norse-bold-webfont.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;

    font-family: 'calibri';
}

#form-area {
    width: calc(max(79rem, 100vw));
    height: 45rem;
    margin-top: max(calc(50vh - 22.5rem), 0px);

    background: #FAFAFD;
}

#img-section {
    position: absolute;
    width: 30rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-section-background {
    position: absolute;
    width: 30rem;

    z-index: 1;
}

#banner {
    position: absolute;
    top: 10rem;
    width: 30rem;
    height: 8rem;

    z-index: 2;

    background: rgba(0,0,0,0.5);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#banner-img {
    height: 6rem;
}

#banner-text {
    font-size: 5rem;

    font-family: 'Norse-Bold';
    color: aliceblue;
}

#artist-credit {
    position: absolute;
    top: 42rem;

    z-index: 2;

    color: white;
    opacity: 80%;

    a:link {
        color: white;
    }
}





#form-section {
    position: relative;
    height: 35rem;
    top: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-size: 1.5rem;
    font-weight: 600;

    p {
        padding-left: 31.5rem;
        width: 39rem;
    }
    button {
        position: relative;
        left: 31.5rem;
        margin-top: 2rem;
        padding: 0.8rem 3rem 0.8rem 3rem;

        border: none;
        border-radius: 0.5rem;;

        background: #596D48;

        color: white;
        font-size: 1.1rem;

        box-shadow: 2px 3px 3px lightgrey;
    }
}

#form-card {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 2px 5px rgb(128,128,128);

    background: white;
}

#form-card-header {
    padding-bottom: 1rem;

    font-weight: 600;
}

#form-card-fields {
    height: 10rem;
    padding-left: 31.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 0.7rem;
}

.field-pair {
    width: 35rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-field {
    display: flex;
    flex-direction: column;

    width: 15rem;

    input {
        font-size: 1rem;
        padding: 0.2rem;

        border-style: solid;
        border-width: 1px;
        border-color: #E5E7EB;
        border-radius: 0.3rem;
    }

    input:invalid {
        border-color: red;
    }

    input:focus {
        outline: none;
        border-style: solid;
        border-width: 1px;
        border-color: blue;

        box-shadow: 1px 1px 3px grey;
    }
}



#log-in-suggestion {
    font-size: 1.2rem;
}

#log-in-link {
    color: #596D48;
}