@font-face {
    font-family: 'Norse-Bold';
    src: 
        url('Norse/norse-bold-webfont.woff') format('woff'),
        url('Norse/norse-bold-webfont.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
}

#form-area {
    width: 80rem;

    display: flex;
    flex-direction: row;
}

#img-section {
    position: relative;
    width: 30rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-section-background {
    position: absolute;
    width: 30rem;

    z-index: -1;
}

#banner {
    position: relative;
    top: 10rem;
    width: 30rem;
    height: 8rem;

    background: rgba(0,0,0,0.4);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#banner-img {
    height: 6rem;
}

#banner-text {
    font-size: 5rem;

    font-family: 'Norse-Bold';
    color: aliceblue;
}

#artist-credit {
    position: relative;
    top: 35rem;

    color: white;
    opacity: 80%;

    a:link {
        color: white;
    }
}


#form-section {
    width: 50rem;
    padding: 20px;
}